# Virtual environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
.DS_Store
.env

# Other stuff
notebooks
.notebooks
notebooks/

# Data files
#*.xlsx
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
